@tailwind base;
@tailwind components;
@tailwind utilities;
/* Dark mode styles */
.dark {
  background-color: #010101; /* Dark background */
  color: #f7fafc; /* Light text */
}
/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Removes white background */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.4); /* Slightly visible scrollbar */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(200, 200, 200, 0.6); /* More visible on hover */
}

.custom-scrollbar {
  scrollbar-color: rgba(150, 150, 150, 0.4) transparent; /* Firefox support */
}
.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
